
<br>
<br>
<div ng-include="'head_numbers.html'"></div>
<br>
<br>

<div ng-repeat = "topic in topics | title: topicID">
  <h1 class="title is-large">{{topic.name}}</h1>
  <h2>Created by: {{topic.User.name}}</h2>
</div>



<article class="message is-primary is-small"  ng-repeat = "message in messages | orderBy:'time':true | topicId: topicID ">
  <div class="message-header">
    <p> Posted by: {{message.User.name}}<br>{{message.createdAt| date: "EEE, MMM d, y h:mm:ss a" }}</p>
    <button class="delete" aria-label="delete" ng-click= "delete(message.id)"></button>
  </div>
  <div class="message-body" >
    {{message.body}}
  </div>
</article>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea" ng-model="message.body"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-primary" ng-click="addMessage()">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link">Cancel</button>
  </div>