<h1 class="title is=large">{{topicName}}</h1>


<article ng-onload="filter()" class="message" ng-repeat = "message in messages | orderBy:'time':true | topicId: topicID ">
  <div class="message-header">
    <p> message {{message.topic_id}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body" >
    {{message.body}}
  </div>
</article>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea" ng-model="message.body"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-primary" ng-click="addMessage()">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link">Cancel</button>
  </div>